<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        android:maxSdkVersion="30" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".hilt.App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/jeenaicon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.GreenTransERPNative"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ui.bottomsheet.vehicleSelection.VehicleSelectionBottomSheet"
            android:exported="false" />
        <activity
            android:name=".ui.operation.drsScan.DrsScanActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.drs.DRSActivity" />
        <activity
            android:name=".ui.operation.pod_entry.PodEntryActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.drs.DRSActivity" />
        <activity
            android:name=".ui.operation.drs.DRSActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity"
            />
        <activity
            android:name=".ui.bottomsheet.bookingIndentInfoBottomSheet.BookingIndentInfoBottomSheet"
            android:exported="false" />
        <activity
            android:name=".ui.operation.inscan_detail_with_scanner.InScanDetailWithScannerActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.operation.inscan_detail_with_scanner.InScanWithScannerActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.operation.unarrived.InscanListActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.operation.inscan_detail_without_scanner.InScanDetailsActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.operation.loadingSlip.search_list.SearchListActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.operation.loadingSlip.newScanLoad.NewScanAndLoadActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.operation.notificationPanel.NotificationPanelBottomSheet"
            android:exported="false" />
        <activity
            android:name=".ui.operation.chatScreen.ChatScreenActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.communicationList.CommunicationListActivity" />
        <activity
            android:name=".ui.operation.communicationList.CommunicationListActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.common.viewImage.ViewImage"
            android:exported="false" />
        <activity
            android:name=".ui.navDrawer.ProfileActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.operation.pickup_manifest.SavePickupManifestActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.pickup_manifest.GrSelectionActivity" />
        <activity
            android:name=".ui.common.cameraX.Cropper"
            android:exported="false" />
        <activity
            android:name=".ui.common.cameraX.CropImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.operation.pickup_manifest.GrSelectionActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.pickup_manifest.PickupManifestEntryActivity" />
        <activity
            android:name=".ui.operation.pickup_manifest.PickupManifestEntryActivity"
            android:exported="false"
            android:label="@string/title_activity_pickup_manifest"
            android:parentActivityName=".ui.home.HomeActivity"
            android:theme="@style/Theme.GreenTransERPNative.NoActionBar" />
        <activity
            android:name=".ui.common.cameraX.CameraX"
            android:exported="false" />
        <activity
            android:name=".ui.operation.call_register.CallRegisterActivity"
            android:exported="false"
            android:parentActivityName=".ui.home.HomeActivity" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.operation.pickup_reference.PickupReferenceActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.call_register.CallRegisterActivity" />
        <activity
            android:name=".ui.operation.booking.BookingActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.pickup_reference.PickupReferenceActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".ui.operation.loadingSlip.scanLoad.ScanLoadActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.grList.GrListActivity" />
        <activity
            android:name=".ui.operation.grList.GrListActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.pickup_reference.PickupReferenceActivity" />
        <activity
            android:name=".ui.print.dcCode.activity.SelectBluetoothActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.update.UpdateActivity"
            android:exported="false" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity
            android:name=".ui.operation.loadingSlip.summary.SummaryScanLoadActivity"
            android:exported="false"
            android:parentActivityName=".ui.operation.grList.GrListActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>